body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #34cadb;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu-box {
    display: block;
    background-color: #4cd209;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
}

.menu-box:hover {
    background-color: #27ae60;
}
